body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  .container-fluid {
    padding-top: 20px;
  }
  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
  }
  .sidebar-item {
    padding: 10px 20px;
    color: white;
    border-bottom: 1px solid #555;
    display: block;
    text-decoration: none;
  }
  .sidebar-item:hover {
    background-color: #0a0a0a;
    color: white;
    font-weight: bold;
  }
  .content {
    margin-left: 250px;
    padding: 20px;
  }
  .card {
    border-radius: 10px;
    
  }
 
  .card-body {
    padding: 20px;
  }
  .card-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .card-text {
    font-size: 18px;
  }
  .bg-secondary{
    background-color: #5a95b8 !important;
  }